:root {
    --primary-color : #ffffff;
    --secondary-color : #ffffff;
    --navbar-color : #ffffff;
    --font-color : #000000;
    --font-family : arial;
}

.navbar{
    background-color: var(--navbar-color);
    font-family: var(--font-family);
}

.nav-link{
    color: var(--font-color);
} 

body{
    background-color: var(--primary-color);
    color: var(--font-color);
    font-family: var(--font-family);
}

.container{
    background-color: var(--secondary-color);
    min-height:100vh;
}